<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum & Assessment System</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <header>
    <nav> 
       <div class="nav-links">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="assessments">Assessment</a>
        <a href="#" routerLink="forum">Forum</a>
        <a href="#" routerLink="user-dashboard">User</a>
  
      </div>
      <div class="auth-buttons">
        <a class="login-btn" routerLink="/login">Login</a>
        <a class="login-btn" routerLink="/register">Register</a>
      </div>
      
    </nav>
  </header> 

  <main>
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to the Forum & Assessment System</h1>
        <p><strong>Engage in discussions and take assessments to enhance your skills!</strong></p>
      </div>

      
    </section>
  </main>
</body>
</html>
